 body{
    background-color: black;
    color: white;
}

.imagens{
    width: 90%;
    border-radius: 20px;
    transition: width .5s; /*aplica o efeito de transição em cada elemento com essa class */
}

.imagens:hover{ /*faz o efeito de transição acontecer*/
    width: 93%;
    border:1px solid red;
}

body {
    background-color: lightblue; /* cor de fundo*/
    /* imagens de fundo*/
    background-image: url('https://www.ppt-backgrounds.net/thumbs/hells-hd-frame-presentation.jpeg');
    /* não repetir a imagens*/
    background-repeat:no-repeat ;
    /* ajustar ao tamanho de capa*/
    background-size: cover;
  }