<%- include("header.ejs")%>
<%- include('nav.ejs') %>
        
    <section class="container">
        <form id="formContato" method="post" action="../index.html" class="w-50 mx-auto p-3 mt-4 mb-4"
        style="border:1px solid #ccc; border-radius:12px;">
    <fieldset>
        <div>
        <legend class="text-center" class="col-sm-4 mt-5"><b>Cadastre-se</b></legend>
        </div>
        <div class="form-group">
            <label><b>Nome :</b></label>
            <input class="form-control" name="nomeContato" id="nomeUsuario" maxlength="50">
        </div>
        <div class="form-group">
            <label><b>E-mail :</b></label>
            <input class="form-control" name="emailContato" id="emailUsuario" type="email" maxlength="50">
        </div>
        <div class="form-group">
            <label><b>Telefone :</b></label required>
            <input class="form-control mb-3" type="text" placeholder="(99)9999-9999" name="telefoneContato" id="telefoneUsuario" maxlength="13" required>
        <div>
        <div class="form-group">
            <label><b>Senha :</b></label required>
            <input class="form-control mb-3" name="senhaContato" id="senhalUsuario" type="password" maxlength="20" required>
        <div>
        <div class="form-group">
            <label><b>Confirme a sua Senha :</b></label required>
            <input class="form-control" name="confsenhaContato" id="confsenhaUsuario" type="password" maxlength="20" required>  
        <button id="btContato" type="button" class="btn btn-info mt-4"><b>Enviar</b></button>
        </div>
    </fieldset>
</form>
    <article> </article>
</section>


<script src= "../js/cadastro.js"></script>
<%- include("footer.ejs")%>
