<%- include("header.ejs")%>
<%- include('nav.ejs') %>
        
    <section class="container">
        <form action="" method="post" class="w-50 mx-auto p-3 mt-4 mb-4"
        style="border:1px solid #ccc; border-radius:12px;">
    <fieldset>
        <div>
        <legend class="text-center" class="col-sm-4 mt-5"><b>Cadastre-se</b></legend>
        </div>
        <div class="form-group">
            <label><b>Nome :</b></label>
            <input class="form-control" name="nome" id="nome_cadastro" maxlength="50">
        </div>
        <div class="form-group">
            <label><b>E-mail :</b></label>
            <input class="form-control" name="email" id="email_cadastro" type="email" maxlength="50">
        </div>
        <div class="form-group">
            <label><b>Telefone :</b></label required>
            <input class="form-control mb-3" type="text" placeholder="(099)99999-9999" name="telefone" id="telefone_cadastro" maxlength="12" required>
        <div>
        <div class="form-group">
            <label><b>Senha :</b></label required>
            <input class="form-control mb-3" name="senha" id="senha_cadastro" type="password" maxlength="20" required>
        <div>
        <div class="form-group">
            <label><b>Confirme a sua Senha :</b></label required>
            <input class="form-control" name="conf_senha" id="conf_senha_cadastro" type="password" maxlength="20" required>  
        <button class="btn btn-info mt-4" href="/login"><b>Enviar</b></button>
        </div>
    </fieldset>
</form>
    <article> </article>
</section>


<script src= "../js/cadastro.js"></script>
<%- include("footer.ejs")%>
