<%- include("header.ejs")%>
<%- include('nav.ejs') %>

<section>
    <article>
        <form id="formContato" class="w-50 mx-auto p-3 mt-4 mb-4"
        style="border:1px solid #ccc; border-radius:12px;">
    <fieldset>
        <div>
        <legend class="text-center" class="col-sm-4 mt-5"><b>Entre em contato conosco!</b><legend>
        </div>
        <div class="form-group">
            <label><b>Nome :</b></label>
            <input class="form-control" name="nomeContato" id="nomeUsuario"maxlength="50">
        </div>
        <div class="form-group">
            <label><b>E-mail :</b></label required>
            <input class="form-control" name="emailContato" id="emailUsuario"type="email" maxlength="50" required>
        </div>
        <div class="form-group">
            <label><b>Telefone :</b></label>
            <input class="form-control mb-3" type="text" placeholder="(99)9999-9999" name="telefoneContato" id="telefoneUsuario" maxlength="14" required>
        </div>
        <div class="form-group">
            <label><b>Assunto :</b></label>
            <input class="form-control" name="assuntoContato" id="assuntoUsuario"maxlength="50">
        </div>
        <div class="form-group">
        <label><b>Comentários :</b><br /></label required>
            <textarea class="form-control" name="comentContato" id="comentUsuario"rows="8"></textarea>
        </div>
        <div>
            <input type="checkbox" checked name="chamada" id="chamada" />
            <label><b>Quero abrir um chamado para este assunto</b></label>
        </div>                
            <button id="btContato" type="button" class="btn btn-info"><b>Confirmar</b></button>                
    </fieldset>
    </form>    
</section>

<script src= "../js/contato.js"></script>

<%- include("footer.ejs")%>
