<!Doctype html>
<html>

<head>
    <title>StreamOn</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="container">
        <header>
            <div class="row">
                <div class="col-sm-3">
                    <a href="index.html">
                        <img src="imgs/logo.jpeg" width="150">
                    </a>
                </div>
                <div class="col-sm-6">

                    <h1 class="mt-5"><i>Número 1 em streaming! - <%=promo%></i></h1>

                </div>
                <div class="col-sm-3 mt-3 dd-flex justify-content-end">
                    <span id="bemVindo"></span>
                    <a id="entrar" href="docs/login.html" class="btn btn-danger">Entrar</a>
                    <a style="cursor:pointer;text-decoration:underline" class="btn btn-danger ml-2" id="sair">Sair</a>
                </div>
            </div>
        </header>

        <nav class="d-flex justify-content-around mb-4 mt-2">
            <a href="/" class="btn btn-dark">Início</a>
            <a href="/produtos" class="btn btn-dark">Produtos</a>
            <a href="/contato" class="btn btn-dark">Contato</a>
            <a href="/cadastro" class="btn btn-dark">Cadastre-se</a>
        </nav>

        <section>
            <article>
                <hr>
                <div id="galeriaVideos" class="mt-4 mb-4 row"></div>
            </article>
        </section>
        <footer class="mt-5">
            <p>&copy;2022 - Todos os direitos reservados</p>
        </footer>
    </div>

</body>
<script src="js/index.js"></script>
<script src="js/geral.js"></script>

</html>