
<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<head>
    <title>StreamOn</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="text-center">
        <a href="/">
            <img src="/imgs/LogotipoStreamOn.png" width="250">
        </a>

    </header>
    <form action="" method="post" action="/" class="w-50 mx-auto p-4 mt-4 mb-4"
        style="border:1px solid #ccc;border-radius:10px;">
        <fieldset>
            <legend>Preencha os campos para entrar</legend>
            <div class="form-group">
                <label><big>E-mail</big> :</label>
                <input class="form-control" type="email" name="email" id="email" maxlength="50" required>
            </div>
            <div class="form-group">
                <label><big>Senha </big>:</label>
                <input class="form-control" type="password" name="senha" id="senha" maxlength="8" required>
            </div>
            <div>
                <button class="btn btn-info" ><b>Confirmar</b></button>
            </div>
        </fieldset>
    </form>


        <!-- Setor de rodapé-->
        <%- include('footer.ejs') %>

</body>
<script src="/js/login.js"></script>



</html>