<head>
    <title>StreamOn</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <header>
        <div class="row">
            <div class="col-sm-3">
                <a href="index.html">
                    <img src="imgs/logo.jpeg" width="150">
                </a>
            </div>
            <div class="col-sm-6">

                <h1 class="mt-5"><i>Número 1 em streaming!</h1>

            </div>
        
            <form action="./atualiza-promo" method="GET" class="mt-5 mb-5">
            
        
                <div class="form-group">
                  <label for="filmes">filmes: </label>
                    <select name="id">
                        <% filmes.forEach((item)=>{ %> 
                     <option value="<%=item.filmes_id%>"><%=item.titulo%></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="promo">Adicionar a lista de promoções?</label>
                    <input type="radio" class="col-lg-1" value="1" id="promo_sim" name="promo"> Sim
                    <input type="radio" class="col-lg-1" value="0" id="promo_nao" name="promo"> Não
                  </div>
      
                <button type="submit" class="btn btn-primary">Confirmar</button>
              </form>
    

          
    <!-- =============== Fim da Paginação ================== -->
</div>
<!-- =============== Fim do Conteúdo ================== -->

<!-- =============== FOOTER ================== -->
<footer class="bg-dark mt-5 pt-5 text-left text-white">
<p class="pl-5 pb-5">&copy;2034 - Todos os direitos reservados</p>
</footer>
</body>
</html>