<!Doctype html>
<html>

<head>
    <title>StreamOn</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="container">
        <header>
            <div class="row">
                <div class="col-sm-3">
                    <a href="/adm/">
                        <img src="/imgs/SQUADONE.png" width="150">
                    </a>
                </div>
                <div class="col-sm-5 d-flex justify-content-center">

                    <img class="mt-2" width="210" src="/imgs/Streaming.png">

                </div>
                <div class="col-sm-3 mt-3 dd-flex justify-content-end">
                    <div class="navbar-text">
                        
                    </div>
                    <div class="col-sm-3 mt-3 dd-flex justify-content-end">
                        <% if (info.user){ %>
                        <div class="navbar-text">
    
                            <span class="d-inline-block mr-3 font-weight-bold text-white">
                                <%=info.user%>
                            </span>
    
                        </div>
                        <span id="bemVindo"></span>
    
                        
                            <div class="nav-item">
                                <a href="/adm/logout-admin" class="btn btn-danger ml-26">Sair</a>
                            </div>
                        <% } else { %>
                            <div class="nav-item">
                                <a href="/adm/login-admin" class="btn btn-danger ">Entrar</a>
                            </div>
                        <% } %>
    
                    </div>
                     

                
            </div>
        </header>
           <div class="row">
            <nav class=" mb-4 mt-5">
                <div>
                    <a href="/adm/cadastroProduto" class="btn btn-dark col-sm-12 mb-4">Produtos</a>
                </div>
                <div>  
                    <a href="/adm/cadastroAdm" class="btn btn-dark col-sm-12 mb-4">Cadastro</a>
                </div>
                <div> 
                    <a href="/adm/relatorio-usuarios" class="btn btn-dark col-sm-12 mb-4"> Relatorio Usuários</a>
                </div>
                <div> 
                    <a href="/adm/relatorio-produtos" class="btn btn-dark col-sm-12 mb-4"> Relatorio produtos</a>
                </div> 
                <div> 
                    <a href="/adm/relatorio-chamadas" class="btn btn-dark col-sm-12 mb-4"> Relatorio chamadas</a>
                </div> 
                <div> 
                    <a href="/upd-promo" class="btn btn-dark col-sm-12 mb-4"> Atualiza promoções</a>
                </div> 
             </nav>
           </div>
        <footer class="mt-5">
            <p>&copy;2022 - Todos os direitos reservados</p>
        </footer>
    </body>
    </html>