<html>

<head>
    <title>StreamOn</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="container">
        <header>
            <div class="row">
                <div class="col-sm-3">
                    <a href="/adm/">
                        <img src="/imgs/LogotipoStreamOn.png" width="150">
                    </a>
                </div>
                <div class="col-sm-7 d-flex justify-content-center">

                    <img class="mt-2" width="210" src="/imgs/Streaming.png">

                </div>
                    <table class="table text-white" id="listaUsuarios">
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                           
                        </tr>
                        <% usuarios.forEach((item)=>{ %>
                        <tr>
                              
                           <td style="vertical-align:unset;">
                                <%= item.nome %>
                           </td>
                           <td style="vertical-align:unset;">
                                <%= item.email %>
                           </td>
                           <td style="vertical-align:unset;">
                                <%= item.telefone %>
                           </td>
                                                      
                           <% }) %>
                        </tr>   
                    </table>
                </div>
            </header>
            <div class="text-center mb-2">
                <a href="/adm/" class="btn btn-danger ">Voltar</a>
            </div>
        <footer class="mt-5">
           <p>&copy;2022 - Todos os direitos reservados</p>
        </footer>
       </body>
    </html>