footer{bottom: 0 !important;position:fixed; background-color: black;}

/* ajeitar o css abaixo em outro momento */

body{
    background-color: black;
    color: rgb(202, 31, 31);
    /* background-color: lightblue;
    /* imagens de fundo
    background-image: url('https://www.ppt-backgrounds.net/thumbs/hells-hd-frame-presentation.jpeg');
    /* não repetir a imagem
    background-repeat:no-repeat ;
    /* ajustar ao tamanho de capa
    background-size: cover; */
}

.listaRelatorio{
    background-color: rgb(221, 208, 208);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navListaRelatorio{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.visaoMacro{
    border: 1px solid #fff;
    border-radius: 13px;
    background-color: rgb(45, 45, 45);
}


/* relatorio chamadas */
.listaRelatorioChamadas{    
    background-color: rgba(11, 10, 10, 0.331);
    color: rgb(248, 248, 247);
}

.visaoMacroRelatorioChamadas{
    border: 1px solid rgb(102, 4, 4);
    border-radius: 13px;
    background-color: rgb(13, 8, 8);
    color: rgb(239, 11, 11);
}

