footer{bottom: 0 !important;position:fixed;}

/* ajeitar o css abaixo em outro momento */

body{
    background-color: black;
    color: white;
}

.listaRelatorio{
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navListaRelatorio{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.visaoMacro{
    border: 1px solid #fff;
    border-radius: 13px;
    background-color: rgb(45, 45, 45);
}


/*
body {
    background-color: lightblue;
    /* imagens de fundo
    background-image: url('https://www.ppt-backgrounds.net/thumbs/hells-hd-frame-presentation.jpeg');
    /* não repetir a imagem
    background-repeat:no-repeat ;
    /* ajustar ao tamanho de capa
    background-size: cover;
  }
*/